html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  font-family: 'Lexend Zetta', sans-serif;
  background-color: darkslategrey;
}

h1,
h2 {
  font-family: 'Saira Stencil One', cursive;
}

.jumbotron {
  position: relative;
  overflow: hidden;
  background-color: black;
  height: 90vh;
  margin: auto;
}

.jumbotron video {
  position: absolute;
  z-index: 1;
  top: 0;
  width: 100%;
  height: 100vh;
  opacity: 0.5;
  object-fit: cover;
}

.jumbotron .container {
  z-index: 2;
  position: relative;
}

.text-white {
  text-align: center;
  padding-top: 50px;
}

/* Nav Bar  */

.navbar {
  padding: 20px;
  background-color: #1b2a3a;
}

#navbarNav,
.nav-link {
  color: #f8f9fa !important;
}


/*Recipe card's*/

.card-img-top {
  width: 100%;
  height: 20vw;
  object-fit: cover;
}

.card-deck {
  margin-top: 50px;
}

.card-text {
  height: 110px;
  overflow: auto;
}

.filter-button {
  padding: 20px 20px 0px;
}

/* Recipe Styling */

.recipe-header {
  margin-top: 25px;
}

.single-recipe-card {
  margin: 20px;
}

.recipe-name {
  padding-top: 90px;
  text-align: center;
}

.single-recipe-h1 {
  font-size: 4rem;
}

.single-recipe-h2 {
  font-size: 3rem;
}

.recipepage-image {
  width: 100%;
}

.card-body-recipe {
  margin: none;
}

/* Add and edit recipe */

.add-recipe-text {
  color: white;
  padding-bottom: 20px;
}

/* Pagination styling */

.pagination-page-info {
  text-align: center;
  margin-bottom: 5px;
  color: white;
}

/* About Page */
.about {
  padding-top: 40px;
}

/* Footer */

footer {
  background-color: #343a40;
  text-align: center;
  color: white;
  padding-top: 20px;
  height: fit-content;
}


/* Scroll Bar */

/* width */

.card-text::-webkit-scrollbar {
  width: 5px;
}

/* Track */

.card-text::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */

.card-text::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */

.card-text::-webkit-scrollbar-thumb:hover {
  background: #555;
}
