{% extends 'base.html' %} {% block about %}

<div class="row">
    <div class="col-12">
        <h1>ABOUT</h1>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <p>Grainfather has initiated thousands of home brewers into the craft as well as helped traditional home brewers hone their skills and broaden their creativity. We’re proud to say that many thriving brewery owners credit the Grainfather Brewing System
            for getting them started on their journey and giving them the confidence to pursue their dream.</p>


        <p>What is the Grainfather Community?</p>

        <p>If you love home brewing as a hobby, a professional craft, a creative release or if you’re just testing the waters then the Grainfather Community is YOU!</p>

        <p>We’ve upgraded our online tools and app to accommodate all home brewers with all levels of experience and all types if equipment whether you brew on a Grainfather system or a brew kettle on the stove. Now you can create recipes as technically
            advanced as you like and have the ability to replicate them over and over again or tweak them to perfection using our Community Tools.</p>

        <p>We’re also creating more ways for you to share your experience and creations with others in the community. Our goal is to give all home brewers the platform and the tools to explore the fun and excitement that home brewing has to offer.</p>

        <p>If you’re considering giving home brewing a try, you should know that brewing is not intimidating, not just for the pros and doesn’t require a huge investment. We’ve done all the hard work to make your journey easy and enjoyable, so join the community
            today and connect, brew, share!
        </p>
    </div>
</div>

{% endblock %}
