{% extends 'base.html' %} {% block addrecipe %}

<h3 style="text-align: center; color: white; padding-top: 20px;">Add Recipe:</h3>
<br>
<div class="container">
    <form action="{{ url_for('insert_recipe') }}" method="POST" id="addform" class="add-recipe-text">
        <div class="form-group">
            <label for="recipe_name">Recipe Name</label>
            <input type="text" name="recipe_name" class="form-control" id="recipe_name" required>
        </div>
        <div class="form-group">
            <label for="recipe_style">Recipe style</label>
            <select name="recipe_style" class="form-control" id="recipe_style">
                {% for style in styles %}
                <option>{{style.style}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label for="batch_size">Batch Size</label>
            <input type="text" name="batch_size" class="form-control" id="batch_size" required>
        </div>
        <div class="form-group">
            <label for="fermentables">Fermentables <small>One Per Line</small></label>
            <textarea class="form-control" name="fermentables" id="fermentables" rows="3" required></textarea>
        </div>
        <div class="form-group">
            <label for="hops">Hops <small>One Per Line</small></label>
            <textarea class="form-control" name="hops" id="hops" rows="3" required></textarea>
        </div>
        <div class="form-group">
            <label for="mash_steps">Mash Steps <small>One Per Line</small></label>
            <textarea class="form-control" name="mash_steps" id="mash_steps" rows="3" required></textarea>
        </div>
        <div class="form-group">
            <label for="yeast">Yeast</label>
            <input type="text" class="form-control" name="yeast" id="yeast" required>
        </div>
        <div class="form-group">
            <label for="comments">Comments</label>
            <textarea class="form-control" name="comments" id="comments" rows="3"></textarea>
        </div>
        <div class="form-group">
            <label for="image">Link to photo</label>
            <input type="text" name="image" class="form-control" id="image">
        </div>
        <button type="submit" class="btn btn-primary">Add Recipe</button>
        <a href="{{url_for('get_recipes')}}" class="btn btn-warning">Cancel
                </a>
    </form>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

<script>
    $(document).ready(function() {


        $("#addform").submit(function() {
            if ($("#image").val().length === 0)
                $("#image").val('https://cdn.shopify.com/s/files/1/2785/6868/products/grainfather-2_1_1_x700.jpg?v=1525362065');
        });

    })
</script>




{% endblock %}
