{% extends 'base.html' %}
{% block filtered %}

<container>
    <div class="dropdown filter-button">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Style Filter
  </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="{{url_for('ipa_style')}}">IPA</a>
            <a class="dropdown-item" href="{{url_for('stout_style')}}">Stout</a>
            <a class="dropdown-item" href="{{url_for('amber_style')}}">Amber Ale</a>
            <a class="dropdown-item" href="{{url_for('belgian_style')}}">Belgian Ale</a>
            <a class="dropdown-item" href="{{url_for('lager_style')}}">Lager</a>
            <a class="dropdown-item" href="{{url_for('pale_style')}}">Pale Ale</a>
            <a class="dropdown-item" href="{{url_for('get_recipes')}}">All Recipes</a>
        </div>
    </div>
</container>

<div class="container-fluid">
    <div class="row">
        {% for recipe in recipes %}
        <div class="col-12 col-sm-6 col-xl-3">
            <div class="card-deck">
                <div class="card">
                    <img class="card-img-top" src="{{recipe.image}}" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title text-center">{{recipe.recipe_name}}</h5>
                        <p class="card-text text-scroll">{{recipe.comments}}</p>
                        <div class="row">
                            {% if recipe.can_delete %}
                            <a href="{{url_for('recipe_single', recipe_id=recipe._id)}}" class="btn btn-primary col">Recipe</a>
                            <a href="{{url_for('edit_recipe', recipe_id=recipe._id)}}" class="btn btn-warning col" data-position="bottom" data-tooltip="Edit">
                    Edit</a>
                            <a href="{{url_for('remove_recipe', recipe_id=recipe._id)}}" class="btn btn-danger col">Delete</a> {% else %}
                            <a href="{{url_for('recipe_single', recipe_id=recipe._id)}}" class="btn btn-primary col">Recipe</a> {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>







{% endblock %}