{% extends 'base.html' %} {% block home %}

<div class="jumbotron jumbotron-fluid">

<video autoplay muted loop poster="/static/img/coverr-beer-pouring-slowmo-1563951894548.jpg">    
    <source src="" data-src="/static/video/coverr-beer-pouring-slowmo-1563951894548.mp4" type="video/mp4">

</video>

  <div class="container text-white">

    <h1 class="display-4">grain_Haven</h1>
    <p class="lead">The home of user created and maintained Grainfather recipes.</p>
    <hr class="my-4">
    <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>

  </div>
  <!-- /.container -->
</div>
<!-- /.jumbotron -->

{% endblock %}