{% extends 'base.html' %} {% block recipes %}

<div class="container-fluid">
    <div class="row">
        {% for recipe in recipes %}
        <div class="col-12 col-sm-6 col-xl-3 recipe_card">
            <div class="card-deck">
                <div class="card">
                    <img class="card-img-top" src="{{recipe.image}}" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">{{recipe.recipe_name}}</h5>
                        <p class="card-text">{{recipe.comments}}</p>
                        <a href="{{url_for('recipe_single', recipe_id=recipe._id)}}" class="btn btn-primary">Recipe</a>
                        <a href="{{url_for('edit_recipe', recipe_id=recipe._id)}}" class="btn btn-danger" data-position="bottom" data-tooltip="Edit">
                    Edit</a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>


{% endblock %}
